/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url('../assets/background-sunset.jpg');
	background-size: cover;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

select {
  -webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAfElEQVQ4je3PrQ7CMBgF0D0LGBBTCGZAsD0+vArpQqg9mI+kAsr4STC7srk9vW2aOf8JWiwm9JZoa4UTEraVTocRxxo0ID/DAkm44vBq9h6XuNAV5xucA+mryANsjBV3JE9GCqyP11PxnfeQAtvFsozhI6TAVlh/hcz5bW5eTKMwVjCxuAAAAABJRU5ErkJggg==');
	background-position: 95%;
	background-repeat: no-repeat;
}

option { color: white }

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	font-family: "Noto Sans"!important;
}