:root {

  /* Breakpoints */
  --small: 512px;
  --medium: 768px;
  --large: 1024px;
  --extraLarge: 1920px;

  /* Paddings */
  --small: 8px 16px;
  --medium: 16px 32px;
  --big: 32px 64px;

  /* Border Radius */
  --borderRadiusSmall: 8px;
  --borderRadiusMedium: 16px;
  --borderRadiusLarge: 32px;

  /* General colors */
  --white: '#FFFFFF';
  --black: '#000000';
  --red: '#FF4343';
  --lightblue: '#70D6FF';
  --yellow: '#FFD670';
  --green: '#99F7AB';
  --lowPriority: '#43FF6C';
  --mediumPriority: '#FFB443';

  /* Themes */
  /* Dark */
  --darkPrimary: '#343A40';
  --darkSecondary: '#212529';
  --darkTertiary: '#6C757D';
  --darkAlternative: '#495057';

  /* Light */
  --lightPrimary: '#86AADC';
  --lightsecondary: '#769EDB';
  --lightTertiary: '#E3ECF3';
  --lightAlternative: '#A7C2E0';

  /* Intermediate */
  --intermediatePrimary: '#957FEF';
  --intermediateSecondary: '#7161EF';
  --intermediateTertiary: '#DEC0F1';
  --intermediateAlternative: '#B79CED';
 
}